
<mat-toolbar id="footer">
    <mat-toolbar-row class="ftCopyright footerMatToolBarFix" fxLayout="row" fxLayoutAlign="center center">
      <div>
        <!-- <ul style="list-style-type:none">
          <li>
            Copyright ABCL
          </li>
           <li>
            <a class="cursor-pointer" (click)="openAboutUs()">About Us</a>
          </li> -->
          <!-- <li>
            <a class="cursor-pointer" >Contact Us</a>
          </li>
          <li>
            <a class="cursor-pointer" >Feedback</a>
          </li>
          <li>
            <a class="cursor-pointer" >Training Modules</a>
          </li>
          <li>
            <a class="cursor-pointer" >Terms of Use</a>
          </li>
        </ul> -->
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  
